/*定义列表页样式*/
.lists{
	background: #fff;
	margin-top:55px;
}
.lists .rank li{
	float: left;
	width: 25%;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	background: #fff;
	text-indent: 6px;
	color: #666;
}
.lists .rank li:last-child {
	border-right: none;
}
.lists .rank li span {
	border: 4px solid transparent;
	border-top: 4px solid #666;
	position: relative;
	top: 8px;
	left: -4px;
} 
.tab{
	margin:5px -3px 5px 5px;
	
	overflow: hidden;
}
.tab li{
	float:left;
	width: 30%;
	margin:3px 5px;
}
.tab .img{
	display: inline-block;
	width: 105px;
	height: 105px;
}
.tab .img img{
	width: 100%;
	height: 100%;
}
.tab p a{
	text-decoration:none;
	font-size: 12px;
	color:blue;
}
.tab span{
	display:inline-block;
	font-size: 12px;
	color:#666;
}
.tab span em{
	font-style: normal;
	color:red;
	font-size:14px;
}
.lists .load-more {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: #06c1ae;
	background: #efefef;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.lists .load-more .arrow {
	font-size: 0;
	border: 10px solid transparent;
	border-top: 10px solid deepskyblue;
	position: relative;
	left: 5px;
    top: 2px;
}
.lists .load-more .arrow.white {
	border-top: 10px solid #efefef;
	position: absolute;
    top: -13px;
    left: -10px;
}